.statusMenu p,
.statusMenu h4 {
  color: white;
  display: inline;
  border: none;
  margin-right: 5px;
}
.statusMenu button {
  float: right;
  margin-right: 3px;
  color: white;
  background: transparent;
  display: inline;
  border: none;
}

.fa-microphone-slash,
.fa-video-slash {
  color: #e74c3c !important;
}


.hidden {
  display: none;
}

.full-width {
  display: block;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

button,
input {
  margin-right: 0px;
}

code {
  display: block;
  margin-bottom: 6px;
}

